#container{
    position:relative;
    width: auto;
    height: auto;
    background-image: url("../others/wallpapers/game2.jpg");
    background-size: cover;
    background-position:center;
    /*border:2px solid black;*/
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#img{
    height:50px;
    width:50px;
    float:left;
    margin-top:10px;
    margin-left:10px;
}
#img:hover{
    transition-duration: 0.4s;
    height:65px;
    width:65px;
}
#gameWrapper {
    width:1300px;
    height: 700px;
    background-color: rgb(87, 87, 209);
    border:2px solid black;
    position:relative;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    cursor: crosshair;
}
#wrapper {
    /*border:2px solid black;*/
    height:100px;
    width: auto;
    position:relative;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
}

#timerWrapper {
    position:absolute;
    background-color:  rgb(87, 87, 209);
    border-radius: 25px;
    border:2px solid black;
    float:left;
    margin-left: 25%;
    width: 200px;
    font-size: 25px;
    text-align: center;
    height:100px;
    font-family:"lucida console";
    
}
#timer{
    font-size: 40px;
    text-align: center;
    margin-top:10px;
    margin-bottom:auto;
    font-family:"lucida console";
}
#pointsWrapper{
    background-color:  rgb(87, 87, 209);
    border-radius: 25px;
    border:2px solid black;
    float:right;
    margin-right: 25%;
    width: 200px;
    font-size: 25px;
    text-align: center;
    height:100px;
    font-family:"lucida console";
    
}
#points{
    font-size: 40px;
    text-align: center;
    margin-top:10px;
    margin-bottom:auto;
    font-family:"lucida console";
}
#countDownWrapper {
    width: 130px;
    height: 100px;
    /*background-color:teal;*/
    cursor: crosshair;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-top:-250px;
    margin-bottom:auto;
    font-size:110px;
    text-align:center;
    position:relative;
    padding:5px;
    font-family:"lucida console";
    color:rgb(255, 0, 0);
    border-radius: 25px;
}

.ball {
    position:absolute;
    background:red;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#restart{
    margin-left:500px;
    margin-top: 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
#restart:hover {
    background-color: rgb(87, 87, 209); 
    color: white;
    transition-duration: 0.4s;
}
#restart:active {
    background-color: rgb(87, 87, 209);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition-duration: 0s;
  }
#termina{
    float:right;
    margin-right:500px;
    cursor: pointer;
    margin-top: 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
#termina:hover {
    background-color: rgb(87, 87, 209);
    color: white;
    transition-duration: 0.4s;
}

#termina:active {
    background-color: rgb(87, 87, 209);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition-duration: 0s;
  }
#report {
    width:600px;
    height:400px;
    border:2px solid rgb(64, 64, 187);
    position:relative;
    margin-top: 150px;
    margin-left: auto;
    box-shadow: 0px 5px 50px #000000;
    margin-right: auto;
    visibility:hidden;
    border-radius: 25px;
    background-color: rgb(64, 64, 187);
}
#stats {
    font-size:50px;
    text-align:center;
    font-family:"lucida console";
}
#stats0 {
    font-size:30px;
    text-align:left;
    margin-left:40px;
    font-family:"lucida console";
}
#stats1 {
    font-size:30px;
    text-align:left;
    margin-left:40px;
    font-family:"lucida console";
}
#stats2 {
    font-size:30px;
    text-align:left;
    margin-left:40px;
    font-family:"lucida console";
}
#stats3 {
    font-size:30px;
    text-align:left;
    margin-left:40px;
    font-family:"lucida console";
}
.newRecord{
    height:50px;
    width:70px;
    position:absolute;
    margin-top: -15px;
    margin-left:30px;

}
@media screen and (max-width: 1400px) {
    #gameWrapper {
        width:1000px;
        height:470px;
    }
    #report{
        margin-top:3%;
    }
    #restart{
        margin-left:200px;
    }
    #termina{
        margin-right:200px;
    }
    #wrapper{
        height:70px;
        font-size:10px;
    }
    #timerWrapper{
        height:70px;
    }
    #pointsWrapper{
        height:70px;
    }
    #restart{
        height:30px;
        margin-top:10px;
    }
    #termina{
        height:30px;
        margin-top:10px;
    }

}